[Desktop Entry]
Name=GPUI
Name[ar]=GPUI
Name[bg]=GPUI
Name[ca]=GPUI
Name[cs]=GPUI
Name[da]=GPUI
Name[de]=GPUI
Name[es]=GPUI
Name[fi]=GPUI
Name[fr]=GPUI
Name[fur]=GPUI
Name[he]=GPUI
Name[hu]=GPUI
Name[id]=GPUI
Name[it]=GPUI
Name[ko]=GPUI
Name[nl]=GPUI
Name[pl]=GPUI
Name[pt]=GPUI
Name[pt_BR]=GPUI
Name[ru]=GPUI
Name[sk]=GPUI
Name[sq]=GPUI
Name[sr]=GPUI
Name[sv]=GPUI
Name[tr]=GPUI
Name[uk]=GPUI
Name[zh_CN]=GPUI
Name[zh_TW]=GPUI
GenericName=GPUI
GenericName[ru]=Редактор групповых политик
X-GNOME-FullName=GPUI
Comment=Group Policy Editor allows user to edit group policy templates
Comment[ru]=Редактор групповых политик позволяет редактировать шаблоны групповых политик
Exec=gpui-main
Terminal=false
Type=Application
Categories=System;FileTools;
Icon=gpui
