name: Linux Test Coverage

on:
  workflow_run:
    workflows: ["GPUI CI"]
    types:
      - completed

jobs:
  coverage:
    runs-on: ubuntu-20.04
    container: alt:p10
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
    - name: Get sources
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        apt-get update
        apt-get install -y cmake rpm-macros-cmake cmake-modules gcc-c++ qt5-base-devel qt5-declarative-devel \
        qt5-tools-devel libsmbclient-devel libsmbclient samba-devel libldap-devel libsasl2-devel libsmbclient-devel \
        libuuid-devel glib2-devel libpcre-devel libkrb5-devel libgtest-devel qt5-base-common doxygen libxerces-c-devel \
        xsd boost-devel-headers desktop-file-utils ImageMagick-tools libqt-mvvm-devel xorg-xvfb xvfb-run

    - name: Test
      env:
        QT_QPA_PLATFORM: offscreen
      run: |
        mkdir build && cd build
        cmake -DCMAKE_C_COMPILER=`which gcc` -DCMAKE_CXX_COMPILER=`which g++` -DCMAKE_MAKE_PROGRAM=`which make` -DCMAKE_BUILD_TYPE:STRING=Debug -DGPUI_BUILD_TESTS:BOOL=ON ..
        make -j4
        make test
